@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
:root {
  --background: hsl(240, 70%, 5%);
  --button-border-color: hsl(160, 100%, 50%);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

input,
button {
  font: inherit;
}

button {
  transition: all ease 0.3s;
  appearance: none;
  cursor: pointer;
  border: 2px solid var(--button-border-color);
  background: var(--background);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.35em;
  width: 390px;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  animation: borderColorAnimation 3s infinite alternate linear;
}
button::after {
  display: block;
  transition: all ease 0.3s;
  position: absolute;
  background: var(--background);
  content: "+";
  text-align: center;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 400;
  top: -0.5em;
  right: -0.5em;
  transform: translate(2px, -2px);
}
button:hover, button:focus {
  animation-play-state: paused;
  border-color: white;
  color: var(--button-border-color);
}
button:hover::after, button:focus::after {
  color: var(--button-border-color);
}
button:active {
  animation-play-state: paused;
  transform: translate(0px, -4px);
  background: var(--button-border-color);
  color: var(--background);
  border-color: var(--button-border-color);
}
button:active::after {
  color: var(--button-border-color);
  background: var(--background);
}

@keyframes borderColorAnimation {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: blue;
  }
}
button + button {
  animation: none;
  margin-top: 2rem;
}


@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal {
  position: relative;
  display: flex;
  color: #6ee1f5;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: pre;
}
.reveal span {
  opacity: 0;
  transform: scale(0);
  animation: fade-in 2.4s forwards;
}
.reveal::before, .reveal::after {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 2px;
  background: white;
  opacity: 0;
  transform: scale(0);
}
.reveal::before {
  left: 50%;
  animation: slide-left 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
.reveal::after {
  right: 50%;
  animation: slide-right 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-left {
  to {
    left: -6%;
    opacity: 1;
    transform: scale(0.9);
  }
}
@keyframes slide-right {
  to {
    right: -6%;
    opacity: 1;
    transform: scale(0.9);
  }
}